@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: rgb(0, 0, 0);
  background-color: #848484;
  font-family: Quicksand, sans-serif;
  overflow: hidden;
}

:root {
  --animate-duration: 2000ms;
  --animate-delay: 2s;
}

.animate__animated.animate__fadeInLeft {
  --animate-delay: 2s;
}

.names {
  z-index: -100;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  display: flex;
}

.pomodoro-title {
  height: 50vh;
  width: 10vw;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-logo {
  position: absolute;
  top: 20px;
  left: 3.5vw;
}

.kanban-title {
  width: 10vw;
  height: 50vh;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pomodoro-title h2 {
  transform: rotate(270deg);
  font-size: 1.5rem;
  text-decoration: none;
}

.kanban-title h2 {
  transform: rotate(270deg);
  font-size: 1.5rem;
}



#settings,
#instructions,
#end-session:hover {
  filter: brightness(95%);
  cursor: pointer;
}

#modal-instructions {
  display: none;
}


#modal-instructions.active {
  width: 450px;
  height: 450px;
  background-color: #848484;
  border-radius: 5%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  text-align: justify;
  /* overflow-y: auto; */
}

.modal-instructions-wrapper {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  animation-name: movingnum;
  animation-duration: 4.7s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;

}




#modal-instructions #closeInstructions:hover {
  cursor: pointer;
}

#closeInstructions {
  display: absolute;
  align-items: flex-end;
}

#modal-instructions #closeInstructions {
  font-size: 25px;
}

#modal-instructions #modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#instructions {
  position: absolute;
  top: 20px;
  right: 3.5vw;
}


.project-container {
  height: 100vh;
  width: 100vw;
  padding: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template: "timer"
    " kanban"
  ;
}

.pomodoro-container {
  grid-area: timer;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  max-width: 500px;
  min-width: 300px;
  min-height: 230px;
  width: 100%;
  overflow-x: hidden;
  margin: 20px 20px 0px 20px;
}

.stats {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  position: relative;
  max-width: 500px;
  min-width: 300px;
  min-height: 430px;
  width: 100%;
  left: 0;
  overflow-x: hidden;
  margin: 20px 20px 0px 20px;
}

.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  min-width: 300px;
  min-height: 430px;
  width: 100%;
  overflow-x: hidden;
  margin: 20px 20px 0px 20px;
}

@media screen and (max-width: 700px) {
  body {
    overflow-y: auto;
  }

  .pomodoro-container {
    flex-direction: column;
    height: auto;
  }

  .names {
    visibility: hidden;
  }
}