#container {
  background-color: #B68588;
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  height: 45vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, [col] auto);
  grid-template-rows: repeat(3, [row] auto);
  max-width: 500px;
  min-width: 300px;
  min-height: 230px;
}


#pomodoro {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: col / span 1;
  grid-row: row;
  height: 40px;
  margin: 10px;
}

#short {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: col 2 / span 1;
  grid-row: row;
  height: 40px;
  margin: 10px;
}

#long {
  grid-column: col 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: row;
  height: 40px;
  margin: 10px;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: col / span 3;
  grid-row: row 2;
  font-size: 5rem;
  height: 20vh;
}

#settings {
  display: flex;
  justify-content: center;

  grid-column: col / span 1;
  grid-row: row 3;
}

#btn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  grid-column: col 2 / span 1;
  grid-row: row 3;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: larger;
  letter-spacing: 2px;
  background-color: rgb(245, 245, 245);

  height: 30px;
  font-size: 1.1rem;
  transition: color 1s ease-in-out;
}

#end-session {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  grid-column: col 3 / span 1;
  grid-row: row 3;
}

#btn:hover {
  cursor: pointer;
  filter: brightness(95%);
}


.set.active {
  background-color: rgba(217, 209, 209, 0.15);
  /* width: 100px; */
  transition: color 2s ease-in-out;
  height: 40px;
  border-radius: 8px;
}

.set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set:hover {
  cursor: pointer;
}

#modal {
  display: none;
}

#modal.active {
  width: 350px;
  height: 500px;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
}

.modal-wrapper {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#modal p {
  color: black;
}

#modal #modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#modal #close {
  font-size: 25px;
}

#modal #close:hover {
  cursor: pointer;
}

#modal #modal-time {
  display: flex;
  justify-content: center;
  font-size: medium;
}

#modal .setTimer input,
.setTimer {
  font-size: medium;
  align-items: center;
  border: #1b1e2c;
  padding: 10px;
  width: 60%;
  background-color: #1b1e2c00;

}

#modal #modal-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal #modal-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

input[type="range"] {
  font-size: 1.5rem;
  width: 150px;
}

input[type="range"] {
  color: #3e3e3e;
  --thumb-height: 20px;
  --track-height: 0.125em;
  --track-color: rgba(0, 0, 0, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

/* webkit  */
input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
}

input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]:disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));

  filter: brightness(100%);
  clip-path: polygon(100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

/* mozilla */

input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

#modal #modal-volume #volume {
  background-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(130, 130, 130);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


input:checked+.slider {
  background-color: #B68588;
}

input:focus+.slider {
  box-shadow: 0 0 1px #9fa0a0;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#modal-button {
  display: flex;
  justify-content: flex-end;
}

#modal-button #button-m {
  color: white;
  border: none;
  background-color: #1b1e2c;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}

#modal-button #button-m:hover {
  cursor: pointer;
  filter: brightness(120%);
}